In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
# A database is an organized collection of data that can be accessed, managed, and updated easily.

# In SQL databases are databases,ae stored in table containing row and columns and each row represents a single record.

# In NoSQL databases, on the other hand, data is not stored in tables, but in other ways, such as key-value pairs, documents, or graphs.

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
#DDL stands for Data Definition Language. It is a set of SQL commands that are used to define the structure of a database. 
#DDL commands are used to create, alter, drop,and rename database objects, such as tables, views, and stored procedures.

In [ ]:
# Create command is used to create new database objects.

CREATE TABLE employees (
  id INT,
  name VARCHAR(25),
  age INT,
  salary DECIMAL(8, 2)
);

In [ ]:
# Drop command is used to delete existing data base objects
 DROP TABLE employees;

In [ ]:
# Alter command is used to modify data base objects.
 ALTER TABLE employees
ADD COLUMN email VARCHAR(115);

In [ ]:
# The TRUNCATE statement is used to delete all data from a table, but it keeps the table structure intact.

TRUNCATE TABLE employees;

In [ ]:
# What is DML? Explain INSERT, UPDATE, and DELETE with an example

In [ ]:
# DML stands for Data Manipulation Language.
#It is a set of SQL commands that are used to manipulate the data in a database. DML commands are used to insert, update, delete, and select data from tables.

In [ ]:
# INSERT statement is used to insert new rows of data into a table.

# INSERT INTO employees (id, name, age, salary)
# VALUES (1, 'kaus', 35, 50000);

In [ ]:
# update is used to modify existing data ain table.

UPDATE employees
SET salary = 25000
WHERE id = 1;

In [ ]:
# delete is used to remove rows from table.
DELETE FROM employees
WHERE age > 55;

In [ ]:
 # Q4. What is DQL? Explain SELECT with an example.

In [ ]:
# DQL stands for Data Query Language. 
# It is a set of SQL commands that are used to retrieve data from a database. DQL commands are used to select, project, and filter data from tables.

In [ ]:
# select command is used to select data from table

SELECT name, age, salary
FROM employees
WHERE age > 55;

In [ ]:
# Q5. Explain Primary Key and Foreign Key.

In [5]:
# A primary key is a unique identifier for each row in a table. It is a column (or a combination of columns) that cannot contain duplicate values.
# it  is used to uniquely identify each row in a table, and it is often used to join tables together.

#A foreign key is a column (or a combination of columns) in one table that refers to the primary key in another table. 
# it  is used to establish a relationship between two tables.

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
#mycursor.execute("select * from test2.test_table")
mycursor.execute("select c1 , c5 from test2.test_table")
for i in mycursor.fetchall() : 
    print(i)

mydb.close()

In [ ]:
# The cursor() method returns a cursor object that can be used to execute queries and fetch results.

 # The execute() method  takes the query as input and returns the results of the query.

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
"SELECT
FROM 
JOIN
ON 
OUTER
WHERE 
GROUP BY 
HAVING 
DISTINCT 
ORDER BY 
LIMIT"